body {
  background-color: #f05e73;
}
p {
  font-weight: 500;
  font-size: 2em;
}
.lead {
  font-weight: 400;
  justify-content: center;
}
.jumbotron {
  background-color: #fde9e9;
  margin-top: 4% !important;
  justify-content: center;
  align-items: center;
  margin: auto;
  width: 1300px;
  height: fit-content;
  text-align: center;
}
.btn-primary {
  background-color: #38a4d0;
  border: none;
  color: white !important;
}
.btn-primary:hover {
  background-color: #008db9;
}
.quote-response {
  margin: 0 auto;
  border: none;
  background-color: #262934;
  color: #f4f7ff;
  border-radius: 5px;
  margin-top: 50px;
  font-weight: 500;
  font-size: 2em;
  width: fit-content;
  height: fit-content;
  text-align: center;
}
* {
  caret-color: transparent;
}
